{% extends 'base.html' %}
{% load static %}
{% block style %}  <link rel="stylesheet" href="{% static 'css/osahan.css' %}" type="text/css">{% endblock style %}
{% block content %}

{% include 'partials/sidebar.html' %}






<!--buying plans here-->
<div id="content-wrapper">
    <div class="container-fluid">
       <div class="video-block section-padding">
          <div class="row">
             <div class="col-md-12">
                <div class="main-title">
                   <div class="btn-group float-right right-action">
                      <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Sort by <i class="fa fa-caret-down" aria-hidden="true"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                         <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Top Rated</a>
                         <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>
                         <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                      </div>
                   </div>
                   <h6>About Us Page</h6>
                </div>
             </div>

<div class="col-md-12">
   
    <p style="text-align:center;">
        Welcome to OTT App, the ultimate streaming platform for movie and TV show lovers!
        <br><br>
        OTT App aims to provide a one-stop-shop for the finest content,which can be accessed anytime, anywhere.And everyone should have the opportunity to be able to speak up and present the world with their distinct viewpoints and views.
        If you enjoy entertainment, whether it is movies, TV shows, documentaries, or educational content,then our platform is ideal for you. With a variety of membership choices to suit any budget, we are dedicated to creating content that appeals to a wide range of viewers, from families to individuals.The app have user-friendly navigation and a search feature to help users find content easily.The app provide personalized recommendations based on users viewing history,behaivor and preferences. And we also provide users a way to earn their revenew by presenting their ideas to the world. Our App provides users a seperate privileges to represent their content.Our OTT App believe in providing a high-quality and reliable service with a good user experience.Our OTT app is committed to delivering the best streaming experience possible.
        <br>
        We're excited to have you as a part of the OTT App. If you have any questions or comments, please don't hesitate to reach out to our customer support team at support_ottapp@gmail.com.<br>

        Thank you for choosing OTT App!

    </p>
   
 </div>
</div>
</div>
</div>


<!--End Buying plans-->










            </div>
        </div>
     </div>
<!-- /.container-fluid -->
{% endblock content %}